# Load the dataset
 As the dataset is larger, using fewer rows.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/harip/Downloads/archive (10)/blogtext.csv")

In [3]:
df.head()

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...

In [4]:
df['gender'].value_counts()

male      345193
female    336091
Name: gender, dtype: int64

In [174]:
newdf =df[:1000]

In [175]:
newdf.head()

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...

# Preprocessing rows of the “text” column 
 Removing unwanted characters
 Converting text to lowercase
 Removing unwanted spaces
 Removing stopwords

In [13]:
import spacy
import nltk
from nltk.tokenize.toktok import ToktokTokenizer
import re
import unicodedata

In [11]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\harip\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

Removing Stop word

In [32]:
def remove_stopwords(text, is_lower_case=False):
    tokens = tokenizer.tokenize(text)
    tokens = [token.strip() for token in tokens]
    if is_lower_case:
        filtered_tokens = [token for token in tokens if token not in stopword_list]
    else:
        filtered_tokens = [token for token in tokens if token.lower() not in stopword_list]
    filtered_text = ' '.join(filtered_tokens)    
    return filtered_text

Remove special and accented characters

In [35]:
def remove_accented_chars(text):
    text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore')
    return text

'Some Accented text'

In [33]:
def remove_special_characters(text, remove_digits=False):
    pattern = r'[^a-zA-z0-9\s]' if not remove_digits else r'[^a-zA-z\s]'
    text = re.sub(pattern, '', text)
    return text

In [34]:
def remove_unwanted_spl_chars(text,remove_digits=False):
    pattern = r'[^a-zA-z0-9\s]' if not remove_digits else r'[^a-zA-z\s]'
    text = re.sub(pattern,'',text)
    return text

In [36]:
def normalize_corpus(corpus, html_stripping=True, contraction_expansion=True,
                     accented_char_removal=True, text_lower_case=True, 
                     text_lemmatization=True, special_char_removal=True, 
                     stopword_removal=True, remove_digits=True):
    
    normalized_corpus = []
    # normalize each document in the corpus
    for doc in corpus:
    
        # remove accented characters
        if accented_char_removal:
            doc = remove_accented_chars(doc)
        # lowercase the text    
        if text_lower_case:
            doc = doc.lower()
        # remove extra newlines
        doc = re.sub(r'[\r|\n|\r\n]+', ' ',doc)
       
        # remove special characters and\or digits    
        if special_char_removal:
            # insert spaces between special characters to isolate them    
            special_char_pattern = re.compile(r'([{.(-)!}])')
            doc = special_char_pattern.sub(" \\1 ", doc)
            doc = remove_special_characters(doc, remove_digits=remove_digits)  
        # remove extra whitespace
        doc = re.sub(' +', ' ', doc)
        # remove stopwords
        if stopword_removal:
            doc = remove_stopwords(doc, is_lower_case=text_lower_case)
            
        normalized_corpus.append(doc)
        
    return normalized_corpus

In [51]:
newdf['clean_data'] = normalize_corpus(newdf['text'])

<ipython-input-51-05d5be36424b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['clean_data'] = normalize_corpus(newdf['text'])

In [52]:
newdf.head()

,id,gender,age,topic,sign,date,text,clean_data
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,...",info found pages mb pdf files wait untill team...
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...,team members drewes van der laag urllink mail ...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...,het kader van kernfusie op aarde maak je eigen...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!,testing testing
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...,thanks yahoo toolbar capture urls popups means...

# merging all the label 
columns together, so that we have all the labels together for a particular sentence (7.5 points)
a. Label columns to merge: “gender”, “age”, “topic”, “sign”
b. After completing the previous step, there should be only two columns in your data frame i.e. “text” 
and “labels” as shown in the below image

In [53]:
newdf['age'] =newdf['age'].astype('str')

<ipython-input-53-7513b3af27fe>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['age'] =newdf['age'].astype('str')

In [54]:
newdf['labels']=newdf[['gender', 'age','topic','sign']].agg(','.join, axis=1)

<ipython-input-54-b138fb3127c7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['labels']=newdf[['gender', 'age','topic','sign']].agg(','.join, axis=1)

In [58]:
newdf.drop(['id','gender','age','topic','sign','date','text'],axis=1,inplace=True)

C:\Users\harip\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [59]:
newdf

,clean_data,labels
0,info found pages mb pdf files wait untill team...,"male,15,Student,Leo"
1,team members drewes van der laag urllink mail ...,"male,15,Student,Leo"
2,het kader van kernfusie op aarde maak je eigen...,"male,15,Student,Leo"
3,testing testing,"male,15,Student,Leo"
4,thanks yahoo toolbar capture urls popups means...,"male,33,InvestmentBanking,Aquarius"
...,...,...
995,urllink doggy bed need say urllink,"female,25,indUnk,Taurus"
996,ah yes summer olympics halfway ive settled fam...,"female,25,indUnk,Taurus"
997,current music could magic donna summer feeling...,"female,15,Arts,Pisces"
998,hey one many things expression zone hope updat...,"female,15,Arts,Pisces"
999,well today going okay applied jobs done bills ...,"male,44,indUnk,Taurus"

In [170]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()

In [171]:
mlb.fit([newdf['labels'].values])

MultiLabelBinarizer()

In [157]:
n= mlb.fit_transform(newdf['labels'])

In [168]:
mlb.classes_

array(['female,14,indUnk,Aries', 'female,14,indUnk,Cancer',
       'female,15,Arts,Pisces', 'female,15,Student,Gemini',
       'female,17,Student,Aries', 'female,17,Student,Gemini',
       'female,23,indUnk,Aquarius', 'female,23,indUnk,Libra',
       'female,23,indUnk,Virgo', 'female,24,indUnk,Scorpio',
       'female,25,indUnk,Capricorn', 'female,25,indUnk,Sagittarius',
       'female,25,indUnk,Taurus', 'female,27,Education,Aquarius',
       'female,33,Banking,Aquarius', 'female,34,indUnk,Scorpio',
       'female,37,indUnk,Aquarius', 'female,45,indUnk,Sagittarius',
       'male,14,Student,Scorpio', 'male,15,Science,Libra',
       'male,15,Student,Aquarius', 'male,15,Student,Leo',
       'male,17,Sports-Recreation,Capricorn',
       'male,17,Student,Sagittarius', 'male,23,indUnk,Sagittarius',
       'male,24,BusinessServices,Cancer', 'male,24,Engineering,Libra',
       'male,25,Non-Profit,Cancer', 'male,26,indUnk,Leo',
       'male,33,InvestmentBanking,Aquarius',
       'male,41,Communications-Media,Libra', 'male,44,indUnk,Taurus'],
      dtype=object)

In [72]:
len(mlb.fit_transform(newdf['labels']))

1000

# Separate features and labels, and split the data into training and testing

In [75]:
x = newdf['clean_data']
y = mlb.fit_transform(newdf['labels'])

In [78]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y)

# vectorize the features 
a. Creating a Bag of Words using count vectorizer
i. Using ngram_range=(1, 2)
ii. Vectorize training and testing features
b. Printing the term-document matrix

In [79]:
from sklearn.feature_extraction.text import CountVectorizer
toNumeric = CountVectorizer(ngram_range=(1,2))

In [81]:
toNumeric.fit(x_train)

CountVectorizer(ngram_range=(1, 2))

In [87]:
toNumeric.get_feature_names()

['abandon horses',
 'abandoned',
 'abandoned although',
 'abandons',
 'abandons hate']

In [88]:
x_train_dtm = toNumeric.transform(x_train)

In [ ]:
x_test_dtm = toNumeric.transform(x_test)

In [91]:
x_train_dtm.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [92]:
x_test_dtm.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

# Creating a dictionary to get the count of every label i.e. the key will be label name and value will be the total count of the label.

In [199]:
print(newdf['gender'].value_counts())
print(newdf['age'].value_counts())
print(newdf['topic'].value_counts())
print(newdf['sign'].value_counts())

male      575
female    425
Name: gender, dtype: int64
24    331
17    142
27     85
33     83
15     74
14     70
23     69
25     57
26     35
37     19
41     14
45     14
34      6
44      1
Name: age, dtype: int64
indUnk                  370
Student                 156
Engineering             119
Education                85
Sports-Recreation        75
InvestmentBanking        70
Non-Profit               46
Science                  29
BusinessServices         21
Communications-Media     14
Banking                  13
Arts                      2
Name: topic, dtype: int64
Scorpio        243
Aquarius       222
Libra          179
Sagittarius     98
Capricorn       77
Cancer          70
Aries           46
Leo             39
Gemini          15
Taurus           7
Virgo            2
Pisces           2
Name: sign, dtype: int64

In [198]:
{newdf['gender'].value_counts().index[0] : newdf['gender'].value_counts().values[0],
newdf['gender'].value_counts().index[1] : newdf['gender'].value_counts().values[1],
  newdf['age'].value_counts().index[0] : newdf['age'].value_counts().values[0],
  newdf['age'].value_counts().index[1] : newdf['age'].value_counts().values[1],
  newdf['age'].value_counts().index[2] : newdf['age'].value_counts().values[2],
  newdf['age'].value_counts().index[3] : newdf['age'].value_counts().values[3],
  newdf['age'].value_counts().index[4] : newdf['age'].value_counts().values[4],
  newdf['age'].value_counts().index[5] : newdf['age'].value_counts().values[5],
  newdf['age'].value_counts().index[6] : newdf['age'].value_counts().values[6],
  newdf['age'].value_counts().index[7] : newdf['age'].value_counts().values[7],
  newdf['age'].value_counts().index[8] : newdf['age'].value_counts().values[8],
  newdf['age'].value_counts().index[9] : newdf['age'].value_counts().values[9],
  newdf['age'].value_counts().index[10] : newdf['age'].value_counts().values[10],
  newdf['age'].value_counts().index[11] : newdf['age'].value_counts().values[11],
 newdf['age'].value_counts().index[12] : newdf['age'].value_counts().values[12],
 newdf['age'].value_counts().index[13] : newdf['age'].value_counts().values[13],
 
 newdf['topic'].value_counts().index[0] : newdf['topic'].value_counts().values[0],
  newdf['topic'].value_counts().index[1] : newdf['topic'].value_counts().values[1],
  newdf['topic'].value_counts().index[2] : newdf['topic'].value_counts().values[2],
  newdf['topic'].value_counts().index[3] : newdf['topic'].value_counts().values[3],
  newdf['topic'].value_counts().index[4] : newdf['topic'].value_counts().values[4],
  newdf['topic'].value_counts().index[5] : newdf['topic'].value_counts().values[5],
  newdf['topic'].value_counts().index[6] : newdf['topic'].value_counts().values[6],
  newdf['topic'].value_counts().index[7] : newdf['topic'].value_counts().values[7],
  newdf['topic'].value_counts().index[8] : newdf['topic'].value_counts().values[8],
  newdf['topic'].value_counts().index[9] : newdf['topic'].value_counts().values[9],
  newdf['topic'].value_counts().index[10] : newdf['topic'].value_counts().values[10],
  newdf['topic'].value_counts().index[11] : newdf['topic'].value_counts().values[11],
 
  newdf['sign'].value_counts().index[0] : newdf['sign'].value_counts().values[0],
  newdf['sign'].value_counts().index[1] : newdf['sign'].value_counts().values[1],
  newdf['sign'].value_counts().index[2] : newdf['sign'].value_counts().values[2],
  newdf['sign'].value_counts().index[3] : newdf['sign'].value_counts().values[3],
  newdf['sign'].value_counts().index[4] : newdf['sign'].value_counts().values[4],
  newdf['sign'].value_counts().index[5] : newdf['sign'].value_counts().values[5],
  newdf['sign'].value_counts().index[6] : newdf['sign'].value_counts().values[6],
  newdf['sign'].value_counts().index[7] : newdf['sign'].value_counts().values[7],
  newdf['sign'].value_counts().index[8] : newdf['sign'].value_counts().values[8],
  newdf['sign'].value_counts().index[9] : newdf['sign'].value_counts().values[9],
  newdf['sign'].value_counts().index[10] : newdf['sign'].value_counts().values[10],
  newdf['sign'].value_counts().index[11] : newdf['sign'].value_counts().values[11],
 
}

{'male': 575,
 'female': 425,
 24: 331,
 17: 142,
 27: 85,
 33: 83,
 15: 74,
 14: 70,
 23: 69,
 25: 57,
 26: 35,
 37: 19,
 41: 14,
 45: 14,
 34: 6,
 44: 1,
 'indUnk': 370,
 'Student': 156,
 'Engineering': 119,
 'Education': 85,
 'Sports-Recreation': 75,
 'InvestmentBanking': 70,
 'Non-Profit': 46,
 'Science': 29,
 'BusinessServices': 21,
 'Communications-Media': 14,
 'Banking': 13,
 'Arts': 2,
 'Scorpio': 243,
 'Aquarius': 222,
 'Libra': 179,
 'Sagittarius': 98,
 'Capricorn': 77,
 'Cancer': 70,
 'Aries': 46,
 'Leo': 39,
 'Gemini': 15,
 'Taurus': 7,
 'Virgo': 2,
 'Pisces': 2}

# Transforming the labels 
a. Convert your train and test labels using MultiLabelBinarizer

In [ ]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
len(mlb.fit_transform(newdf['labels']))

# choosing a classifier

In [109]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(solver='lbfgs')
clf = OneVsRestClassifier(clf)

In [111]:
clf.fit(x_train_dtm,y_train)

C:\Users\harip\anaconda3\lib\site-packages\sklearn\multiclass.py:79: UserWarning: Label 0 is present in all training examples.
  warnings.warn(
C:\Users\harip\anaconda3\lib\site-packages\sklearn\multiclass.py:79: UserWarning: Label 24 is present in all training examples.
  warnings.warn(
C:\Users\harip\anaconda3\lib\site-packages\sklearn\multiclass.py:79: UserWarning: Label 28 is present in all training examples.
  warnings.warn(
C:\Users\harip\anaconda3\lib\site-packages\sklearn\multiclass.py:79: UserWarning: Label 33 is present in all training examples.
  warnings.warn(
C:\Users\harip\anaconda3\lib\site-packages\sklearn\multiclass.py:79: UserWarning: Label 34 is present in all training examples.
  warnings.warn(

OneVsRestClassifier(estimator=LogisticRegression())

In [113]:
pred = clf.predict(x_test_dtm)

# Fitting the classifier, make predictions and get the accuracy 
a. Print the following
i. Accuracy score
ii. F1 score
iii. Average precision score
iv. Average recall score

In [115]:
from sklearn.metrics import accuracy_score, f1_score, average_precision_score, recall_score

In [116]:
accuracy_score(y_test,pred)

0.164

In [119]:
f1_score(y_test,pred,average='samples')

0.824837501138911

In [121]:
average_precision_score(y_test,pred,average='samples')

0.7993762563985322

In [122]:
recall_score(y_test,pred,average='samples')

0.7616823725981622

In [173]:
mlb.classes_

array(['female,14,indUnk,Aries', 'female,14,indUnk,Cancer',
       'female,15,Arts,Pisces', 'female,15,Student,Gemini',
       'female,17,Student,Aries', 'female,17,Student,Gemini',
       'female,23,indUnk,Aquarius', 'female,23,indUnk,Libra',
       'female,23,indUnk,Virgo', 'female,24,indUnk,Scorpio',
       'female,25,indUnk,Capricorn', 'female,25,indUnk,Sagittarius',
       'female,25,indUnk,Taurus', 'female,27,Education,Aquarius',
       'female,33,Banking,Aquarius', 'female,34,indUnk,Scorpio',
       'female,37,indUnk,Aquarius', 'female,45,indUnk,Sagittarius',
       'male,14,Student,Scorpio', 'male,15,Science,Libra',
       'male,15,Student,Aquarius', 'male,15,Student,Leo',
       'male,17,Sports-Recreation,Capricorn',
       'male,17,Student,Sagittarius', 'male,23,indUnk,Sagittarius',
       'male,24,BusinessServices,Cancer', 'male,24,Engineering,Libra',
       'male,25,Non-Profit,Cancer', 'male,26,indUnk,Leo',
       'male,33,InvestmentBanking,Aquarius',
       'male,41,Communications-Media,Libra', 'male,44,indUnk,Taurus'],
      dtype=object)